---
layout: default
comments: true
---

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML" type="text/javascript"></script>


<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {% assign words = content | strip_html | number_of_words %}
    {% assign minutes = words | divided_by: 200 %}
    {% if minutes < 1 %}{% assign minutes = 1 %}{% endif %}
    <span class="reading-time">{{ minutes }} min read</span>
  </div>
  {{ content }}

</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
